.Explore {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 99, 23);
    background-size: cover;
  }
  
  .search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar {
    width: 50%;
    border: none;
    padding: 10px;
  }
  
  .search-button {
    background: green;
    border: none;
    padding: 10px 20px;
    color: white;
  }
  
  .recipes {
    background-color: rgb(23, 99, 23);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  