.nav-container {
    display: flex;
    padding: 10px;
    background-color: green;
    height: 5vh;
}

.nav-list{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    list-style: none;
}

li{
    color: white;
}